.word-anchor {
	text-decoration: none;
	color: black;
	border-radius:10px;
	cursor: pointer;
	cursor: hand;
	display: inline;
	font-size:24px;
	font-family: arial;
	line-height:40px;
	color: black;
	opacity: 1;
}

.word-anchor:focus, .word-anchor:hover {
	text-decoration: none;
	color: black;
}

#output-txt {
	font-size: 24px;
	font-family: arial;
	line-height: 40px;
}

.sound-btn {
	margin: 5px 0px 5px 0px;
	border-width: 1px;
	padding: 5px;
	display: inline-block;
    box-sizing: content-box;
    border-color: buttonface;
    border-image: initial;
}

.sound-btn:hover {
	background-color: ligh;
}


/* Divs */

#input-div, #output-div, #btns-div {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

/* Tooltip */

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
	font-size: 20px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}